# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# VS Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Local data
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

data/simulated/*
!data/simulated/.gitkeep

# Generated figures
reports/figures/*
!reports/figures/.gitkeep